<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
    <head>
        <%- include('../views/t_head.ejs') %>
    </head>
    <body>
        <%- include('../views/t_header.ejs') %>

        <h1>
            Pagina non trovata!!
        </h1>

        <%- include('../views/t_footer.ejs') %>
    </body>
</html>