<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
    <head>
        <%- include('../views/t_head.ejs') %>
    </head>
    <body>
        <%- include('../views/t_header.ejs') %>

        <h1>
            Divise
        </h1>
        <hr/>

        <div class="screen60percent divise">
            <div>
                <h2 class="center">Prima divisa</h2>
                <img src="/images/maglia-1.jpg" alt=""/>
            </div>
            <div>
                <h2 class="center">Seconda divisa</h2>
                <img src="/images/maglia-2.jpg" alt=""/>
            </div>
            <div>
                <h2 class="center">Terza divisa</h2>
                <img src="/images/maglia-3.jpg" alt=""/>
            </div>
        </div>
            
        <%- include('../views/t_footer.ejs') %>
    </body>
</html>