<footer>
    <div class="socials">
        <div class="padding10">
            Seguici: 
        </div>
        <div>
            <a href="https://www.facebook.com/ASDTagliamento">
                <img src="/images/facebook-white2.png" alt="facebook"/>
            </a>
            <a href="https://www.instagram.com/asdtagliamento/">
                <img src="/images/instagram-white2.png" alt="instagram"/>
            </a>
        </div>
    </div>

    <div class="footer-cont">
        <h2>ASD Tagliamento</h2>

        <div class="footer-categories">
            <div>
                <h3>
                    <a href="/news">News</a>
                </h3>
            </div>
            <div>
                <h3>
                    Squadre
                </h3>
                <div class="subcategories">
                    <div>
                        <a href="/rosa">Prima Squadra</a>
                    </div>
                </div>
            </div>
            <div>
                <h3>
                    Stagione
                </h3>

                <div class="subcategories">
                    <div>
                        <a href="/partite-risultati">Partite e Risultati</a>
                    </div>
                    <div>
                        <a href="/classifica">Classifica</a>
                    </div>
                </div>
            </div>
    
            <div>
                <h3>
                    Societ&agrave;
                </h3>
                <div class="subcategories">
                    <div class="hide">
                        <a href="/storia">Storia</a>
                    </div>
                    <div>
                        <a href="/organigramma">Organigramma</a>
                    </div>
                    <div>
                        <a href="/divise">Divise</a>
                    </div>
                    <div>
                        <a href="/contributi-pubblici">Contributi Pubblici</a>
                    </div>
                </div>
            </div>
            <div>
                <h3>
                    <a href="/sponsors">Sponsors</a>
                </h3>
            </div>
            <div>
                <h3>
                    <a href="/contatti">Contatti</a>
                </h3>
            </div>
        </div>
    </div>

</footer>