<div class="header_container v3" version="3">
    <%- include('../views/t_header_v3.ejs') %>
</div>

<div class="socials-floting">
    <div class="facebook">
        <a href="https://www.facebook.com/ASDTagliamento" target="_blank">
            <img src="/images/facebook-white.jpg" alt="facebook"/>
        </a>
    </div>
    <div class="instagram">
        <a href="https://www.instagram.com/asdtagliamento/" target="_blank">
            <img src="/images/instagram-white.jpg" alt="instagram"/>
        </a>
    </div>
    <div class="whatsapp">
        <a href="https://wa.me/393333923300" target="_blank">
            <img src="/images/whatsapp-white.png" alt="whatsapp"/>
        </a>
    </div>
    <div class="email">
        <a href="mailto:asdtagliamento@gmail.com" target="_blank">
            <img src="/images/email-white.png" alt="email"/>
        </a>
    </div>
</div>