<header class="v2">
    <div class="main-header screen60percent">
        <div class="logo">
            <a href="/">
                <img src="/images/logo_asd_tagliamento_final.png" class="brand-logo" alt="logo"/>
            </a>
        </div>
        
        <div class="menu-sponsors">
            <div class="sponsors">
                <span class="socials">
                    <a href="https://www.facebook.com/ASDTagliamento">
                        <img src="/images/facebook-white2.png" alt="facebook"/>
                    </a>
                    <a href="https://www.instagram.com/asdtagliamento/">
                        <img src="/images/instagram-white2.png" alt="instagram"/>
                    </a>
                </span>
                <img src="https://thumbs.dreamstime.com/b/sponsor-concept-word-blackboard-background-sponsor-113958669.jpg" alt="sponsor">
                <img src="https://thumbs.dreamstime.com/b/sponsor-concept-word-blackboard-background-sponsor-113958669.jpg" alt="sponsor">
            </div>
            
            <%- include('../views/t_menu.ejs') %>
        </div>
    </div>
    
</header>