
<header class="v3">
    <div class="mobile-only mobile-menu">
        <div class="menu-overlay"></div>
        <div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div class="logo">
        <a href="/">
            <img src="/images/logo_asd_tagliamento_final.png" class="brand-logo" alt="logo"/>
        </a>
    </div>

    <div class="main-header">
        <div><span class="team">ASD Tagliamento</span></div>
    </div>
    
    <%- include('../views/t_menu.ejs') %>

</header>
