<div class="menu-overlay"></div>
<div class="mobile-only mobile-menu">
    
</div>

<div class="menu">
    <div class="close-menu mobile-only">
        <img src="/images/close-button.png" alt="close button"/>
    </div>
    <div class="category">
        <div class="category-name">
            <a href="/">
                Home
            </a>
        </div>
    </div>
    <div class="category">
        <div class="category-name">
            <a href="/news">
                News
            </a>
        </div>
    </div>
    <div class="category">
        <div class="category-name">
            Squadre
        </div>
        <div class="subcategories">
            <div class="subcategory">
                <a href="/rosa">
                    Prima squadra
                </a>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="category-name">
            Stagione
        </div>
        <div class="subcategories">
            <div class="subcategory">
                <a href="partite-risultati">
                    Partite e Risultati
                </a>
            </div>
            <div class="subcategory">
                <a href="/classifica">
                    Classifica
                </a>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="category-name">
            Societ&agrave;
        </div>
        <div class="subcategories">
            <div class="subcategory">
                <a href="/organigramma">
                    Organigramma
                </a>
            </div>
            <div class="subcategory">
                <a href="/divise">
                    Divise
                </a>
            </div>
            <div class="subcategory">
                <a href="/contributi-pubblici">
                    Contributi Pubblici
                </a>
            </div>
        </div>
    </div>
    <div class="category hide">
        <div class="category-name">
            <a href="/storia">
                Storia
            </a>
        </div>
    </div>
    <div class="category">
        <div class="category-name">
            <a href="/sponsors">
                Sponsors
            </a>
        </div>
    </div>
    <div class="category">
        <div class="category-name">
            <a href="/contatti">
                Contatti
            </a>
        </div>
    </div>
</div>