<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
    <head>
        <%- include('../views/t_head.ejs') %>
    </head>
    <body>
        <%- include('../views/t_header.ejs') %>

        <h1>
            Risultati e Partite
        </h1>
        <hr/>

        <div class="screen60percent">
            <iframe src='https://www.tuttocampo.it/WidgetV2/Risultati/d68f7c57-2c16-455e-a7d5-80bf8cf68046' width='100%' height='600' scrolling='no' frameborder='0'></iframe>
        </div>

        <%- include('../views/t_footer.ejs') %>
    </body>
</html>